.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex: none;
    text-decoration: 0;
 color: #4D5AE5;
 
 }
 .header-logo-black {color: #2E2F42;}
 .header-item {list-style: none;
}
.header-link {font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;}
.header-links {list-style: none;}
.link {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
text-decoration: none;}
.section-hero {background: #2E2F42;}
.hero-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
   
 
    letter-spacing: 0.02em;
    
    color: #FFFFFF;}
.hero-btn {background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   }
    .service {font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        
        color: #FFFFFF;
        }
        .h2 {font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2E2F42;}
            .h3 {font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                
                letter-spacing: 0.02em;
                
                color: #2E2F42;
                }
                .p {font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    
                    letter-spacing: 0.02em;
                   
                    color: #434455;}
                   .adv {list-style: none;}
                   .ourimg {list-style: none;
                display: block;}
                   .footer {background-color: #2E2F42;}
                   .footer-link {font-family: 'Raleway', sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 1.17;
                    display: inline-block;
                    align-items: center;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    flex: none;
                    text-decoration: 0;
                 color: #4D5AE5;
                 margin-bottom: 24px;}
                 .logo-white {color: #F4F4FD}
                 .footer-p {font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                  
                    letter-spacing: 0.02em;
                 
                    color: #F4F4FD;}
                    .btnlist {list-style: none;}
                    .btn {background: #F4F4FD;
                        border: 1px solid #E7E9FC;
                        border-radius: 4px;
                        font-family: "Roboto", sans-serif; 
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 0.04em;
                        }
                        .list {list-style: none;}