
.page {position: relative;
    width: 1440px;
    height: 2592px;
    
    background: #FFFFFF}
    .header {position: absolute;
        width: 1440px;
        height: 72px;
        left: 0px;
        top: 0px;}
        
.header-nav {display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;}        
    .header-logo {display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: absolute;
        width: 115px;
        height: 24px;
        left: 156px;
        top: 24px;}